/* Global */
* {
  font-family: 'source-sans-pro', sans-serif;
}
button,
input,
optgroup,
select,
textarea {
  font-family: 'source-sans-pro', sans-serif;
}

:root {
  --dark-green: #33622b;
  --light-green: #f2f9f1;
}

/* Icons */
.material-icons.search {
  color: black;
}

/* Navbar */
.navbar {
  background-color: white;
  box-shadow: none;
  height: 6em;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1;
}
.logo {
  width: 10em;
  height: 100%;
}

/* Searchbar */
.input-field .prefix.active {
  color: var(--dark-green);
}
input#autocomplete-input {
  margin-top: 1rem;
}
input#autocomplete-input.autocomplete:focus {
  border-bottom: 1px solid var(--dark-green);
  box-shadow: 0 1px 0 0 var(--dark-green);
}

/* Hero */
.hero {
  margin-top: 6em;
  height: 20em;
  overflow: hidden;
  z-index: 0;
}
.react-parallax-bgimage {
  margin-top: -7%;
}

/* Category Tabs */
.MuiAppBar-colorPrimary {
  color: black !important;
  background-color: var(--light-green) !important;
  box-shadow: none !important;
  margin-bottom: 0.5em;
}
.MuiTab-root {
  text-align: left !important;
  text-transform: lowercase !important;
  padding: 0 !important;
  min-width: 100px !important;
}
.MuiTab-textColorInherit.Mui-selected {
  font-weight: bold;
}
.PrivateTabIndicator-colorSecondary-4 {
  background-color: var(--dark-green) !important;
  width: 100px !important;
}
button:focus {
  background-color: transparent !important;
}
.MuiTouchRipple-child {
  background-color: var(--dark-green) !important;
}

/* Category Items */
.MuiBox-root {
  padding: 0 !important;
}

/* Category Item */
.category-item {
  margin: 1em 0;
}
.category-img {
  height: 10em;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5em;
}
.category-img img {
  max-width: 100%;
}
.category {
  color: var(--dark-green);
}
.recipe-title {
  font-size: 1.5em;
  line-height: 1.2;
  margin: 0.5em 0;
  font-family: 'hwt-aetna', serif;
}
.recipe-blurb {
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
}
